/* Reset some default styles */
body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    sans-serif;
  background-color: black;
}

/* Header styles */
header header {
  background-color: rgba(54, 51, 51, 0.9); /* Set background to none */
  padding: 20px 0px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #007bff;
}

/* Hero section styles */
.hero {
  background-image: url("");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 0;
  color: #fff;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
}
p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #0056b3;
}

/* About section styles */
.about {
  background-color: #fff;
  text-align: center;
  padding: 50px 0;
}

/* Services section styles */
.services {
  background-color: #f8f8f8;
  text-align: center;
  padding: 50px 0;
}

.services ul {
  list-style: none;
  margin-top: 20px;
}

.services li {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* Contact section styles */
.contact {
  background-color: #fff;
  text-align: center;
  padding: 50px 0;
}

/* Footer styles */
footer {
  background-color: rgba(70,68, 68, 0.9);
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* Transparent Header styles */
.transparent-header {
  background: rgba(70, 68, 68, 0.9); /* Adjust the background color and opacity as needed */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: background 0.03s ease-in-out;

}


